@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

html {
    padding: 0;
    margin: 0;
    font-family: Montserrat Alternates;
}

body {
    padding: 0;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6, strong, ul, li .text {
    letter-spacing: 1.2px;
    word-spacing: 3px;
    white-space: break-spaces;
    line-height: 145%;
}
